<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://imgs.search.brave.com/SCa9rPIhKcmz4sqac0o-lH97Y8YBvXMrrh6noP96DZ0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMucG9kZXIzNjAu/Y29tLmJyLzIwMjQv/MTEvYWluZGEtZXN0/b3UtYXF1aS0xLTg0/OHg0NzcucG5n"
      cardTitle="Ainda Estou Aqui"
      cardDescription="Uma adaptação cinematográfica do livro autobiográfico de Marcelo Rubens Paiva, que narra a emocionante trajetória de sua mãe, Eunice Paiva, durante a ditadura militar no Brasil. "
      >
    </app-big-card>
    <app-big-card
    Id="1"
    photoCover="https://imgs.search.brave.com/1rABbfB2zVFNxRVy5IseRopoE0wCPxTpdOisFx_f_9c/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pY2hl/Zi5iYmNpLmNvLnVr/L2FjZS93cy82NjAv/Y3BzcHJvZHBiLzE3/ZjEvbGl2ZS8wMzgz/ODdkMC1lOTI4LTEx/ZWYtYmQxYi1kNTM2/NjI3Nzg1ZjIuanBn/LndlYnA"
    cardTitle="Brasil leva o Oscar"
    cardDescription="Ainda Estou Aqui vence o Oscar de Melhor Filme Estrangeiro"
    >
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Vitoria é Anunciado nos Cinemas"
      photoCover="https://imgs.search.brave.com/vI_s_l-V_Ld8rGnXr3GPBjucKfciutNB7CyoguU7fRk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9qcGlt/Zy5jb20uYnIvdXBs/b2Fkcy8yMDI1LzAx/L2Zlcm5hbmRhLW1v/bnRlbmVncm8tNzUw/eDQzMC5wbmc"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="2 Temporada de Arcane Anunciada"
      photoCover="https://imgs.search.brave.com/DLPD4pCbza26Ueee0d2bLEHFvJo_S53lk3FTtFVqhOE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zMi10/ZWNodHVkby5nbGJp/bWcuY29tL3hVZE12/T2dBR3FBQUYwaFVF/SFF1U2dLWE5Vdz0v/MHgwOjEzNzB4Nzcx/Lzk4NHgwL3NtYXJ0/L2ZpbHRlcnM6c3Ry/aXBfaWNjKCkvaS5z/My5nbGJpbWcuY29t/L3YxL0FVVEhfMDhm/YmY0OGJjMDUyNDg3/Nzk0M2ZlODZlNDMw/ODdlN2EvaW50ZXJu/YWxfcGhvdG9zL2Jz/LzIwMjEvYi9LL0Zq/QlF6NlJsMklRbDBW/N2V2WUt3L2FyY2Fu/ZS1maW5hbC1wb3N0/ZXItMTZ4OS1uby10/ZXh0LW5vLWJvcmRl/ci5qcGc"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="2 Temporada de CastleVania Nocturne Anunciada"
      photoCover="https://imgs.search.brave.com/E3lO89furNNjYMnyoiH3nFDZxFKo2uVXviUxOUL0yRY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMtcHJkLmlnbmlt/Z3MuY29tLzIwMjUv/MDEvMTUvY24tczIt/YmxvZ3JvbGwtMTcz/Njk4MjExMDM2MS5q/cGc_d2lkdGg9Mzg0/MA"
    >
    </app-small-card>
  </div>
</div>
